@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #18294f;
  color: #fff;
}

header h1 {
  text-align: center;
  color: #fff;
  font-size: 2rem;
  margin: 0;
  padding-bottom: .1em;
  padding-top: .45em;
}

nav ul {
  list-style: none;
  font-size: 1.125rem;
  padding: .75rem;
  margin: 0;
}

li {
  padding: .6em .2em;
  padding-left: 0;
  background-color: #18294f;
}

nav a {
  text-decoration: none;
  color: #6c8fe0;
  white-space: nowrap;
}

nav a:hover {
  background-color: #6c8fe0;
  color: #fff;
}

@media only screen and (min-width: 25em) {

  nav li {
    float: left;
    width: 50%;
    text-align: center;
  }

}

@media only screen and (min-width: 38em) {

  nav li {
    float: left;
    width: 25%;
  }

}
